@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{background-color: #FFB69F;}
.navigation-bar{
	position: absolute;
	top: 50%;
	left: 80%;
	transform: rotate(90deg);
	width: 350px;
	height: 60px;
	padding: 10px 20px;
	background-color: #FFB69F;
	/* box-shadow: -10px -10px 16px #ffffff,
		9px 9px 16px #a3b1c6; */
	border-radius: 10pc;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

span
{
	font-family: poppins;
	font-size: 24px;
	font-weight: bolder;
	cursor: pointer;
}
span i
{
	color: #FA7A56;
	font-size: 30px;
	cursor: pointer;
}
span:hover::before
{
	content:'';
}

span:hover::after{
	color: #FA7A56;
}
span:nth-child(1):hover::after{
	content:'Home';
}
span:nth-child(2):hover::after{
	content:'About';
}
span:nth-child(3):hover::after{
	content:'Contact';
}
span:nth-child(4):hover::after{
	content:'Project';
}
span:nth-child(5):hover::after{
	content:'Experience';
}
span:nth-child(6):hover::after{
	content:'Education';
}
span:nth-child(7):hover::after{
	content:'Skill';
}

.nav-bar-right{
    transform: rotate(271deg); 
}